/* Button */
.button {
    padding: 20px 45px;
    border-radius: 4px;
    background-color: var(--color-secondary);
    text-decoration: none;
    color: var(--background-secondary);
    font-weight: 700;
    transition: all 0.5s ease;
}

.button:hover {
  background-color: white;
}

.button-two {
    background-color: transparent;
    color: white;
    border: 0.5px solid var(--color-text);
}

.button-two:hover {
  background-color: var(--color-secondary);
  color: var(--background-secondary);
}

/* End Button */

/* Description */
.description a {
  text-decoration: none;
  color: var(--color-secondary);
}
/* End Description */

/* header */
.header {
  width: 100%;
  background-color: var(--background-primary);
  display: flex;
  justify-content: space-between;
  align-items: stretch; /*cho phép chiều cao con trực tiếp(inner-item) kéo dãn bằng header, các item sẽ cùng chiều cao nhau bằng header*/
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 3px 0 8px #bbbbbb;
}

.header .inner-item {
  display: flex;
  align-items: center; /*Vì có cùng chiều cao và dòng này center nên các content bên trong các item sẽ căn ngang với nhau*/
  padding: 20px 0;
}

.header .inner-item:first-child img {
  width: auto;
  height: 60px;
  cursor: pointer;
}

.header .inner-item:first-child .title {
  font-size: 26px;
  color: var(--color-primary);
  cursor: pointer;
}

.header .inner-item:first-child .title:hover {
  color: var(--text-hover);
}

.header .inner-item:nth-child(2) {
  padding: 0;
}

.header .inner-item:nth-child(2) .page {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header .inner-item:nth-child(2) .page:hover {
  background-color: white;
  color: var(--text-hover);
}

.header .inner-item:last-child {
  gap: 10px;
}

.header .inner-item:last-child .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* End Header */

/* Section One */
.section-one {
  width: 100%;
  background-image: url(https://mobirise.com/extensions/softwarem4/software-app/assets/images/background1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  word-wrap: break-word;
  position: relative;
}

.section-one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.section-one .inner-wrap {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  position: relative;
  z-index: 2;
}

.section-one p,
.section-one h1,
.section-one h3 {
  margin: 0;
}

.section-one .inner-wrap .title {
  color: white;
  font-size: 18px;
}

.section-one .inner-wrap .main-title {
  color: white;
  font-size: 50px;
}

.section-one .inner-wrap .description {
  color: #bbbbbb;
  font-size: 18px;
  max-width: 50%;
}

.section-one .inner-wrap .intro-btn {
  display: flex;
  gap: 20px;
}

/* End Section One */

/* Section Two */
.section-two {
  width: 100%;
  background-color: var(--background-primary);
}

.section-two .inner-wrap{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  padding: 100px 0;
}

.section-two .inner-wrap .inner-image{
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-two .inner-wrap .inner-image img{
    border-radius: 10px;
    width: 90%;
}

.section-two .inner-wrap .inner-content{
    padding: 20px 0;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-two .inner-wrap .inner-content .key{
    font-size: 18px;
    color: var(--color-text);
    margin: 0;
}

.section-two .inner-wrap .inner-content .title{
    font-size: 60px;
    color: var(--color-primary);
    margin: 0;
}

.section-two .inner-wrap .inner-content .inner-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.section-two .inner-wrap .inner-content .inner-list .inner-box{
    border-radius: 10px;
    background-color: white;
    width: 150px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-two .inner-wrap .inner-content .inner-list .inner-box i{
    color: var(--icon-color);
    font-size: 40px;
}

.section-two .inner-wrap .inner-content .inner-list .inner-box span{
    font-weight: 600;
}

.section-two .inner-wrap .inner-content .description{
    font-size: 18px;
    color: var(--color-text);
}

.section-two .inner-wrap .inner-content .button{
    align-self: flex-start;
}

/* End Section Two */

/* Section Three */
.section-three{
    width: 100%;
    background-color: var(--background-primary);
    padding: 100px 0;
}

.section-three .inner-wrap{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
}

.section-three .inner-wrap .inner-content{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
}

.section-three .inner-wrap .inner-content .key{
    font-size: 18px;
    color: var(--color-text);
    margin-bottom: 0;
}

.section-three .inner-wrap .inner-content .title{
    font-size: 60px;
    color: var(--color-primary);
    margin-top: 0;
}

.section-three .inner-wrap .image{
    grid-column: 2;
    position: relative;
}

.section-three .inner-wrap .image img{
    width: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    /* top: -50px;
    right: -150px; */
    /* top: -85px; */
    right: 60px;
    bottom: 0;
}

/* End Section Three */

/* Section Four */
.section-four{
    width: 100%;
    background-color: white;
}

.section-four .inner-wrap{
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-four .inner-wrap .title{
    margin: 0;
    font-size: 26px;
    color: var(--color-primary);
}

.section-four .inner-wrap .content{
    margin: 0;
    font-size: 18px;
    color: var(--color-text);
}

.section-four .inner-wrap .inner-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.section-four .inner-wrap .inner-list .inner-item{
    display: flex;
    flex-direction: column;
}

.section-four .inner-wrap .inner-list .inner-item .inner-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-four .inner-wrap .inner-list .inner-item .inner-box p{
    color: var(--color-text);
    font-size: 18px;
}

.section-four .inner-wrap .inner-list .inner-item .inner-box i{
    padding: 15px 25px;
    border-radius: 50%;
    background-color: #EFEFEF;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Section Four */
